<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.png') }}">
    <title>Assamese Number Recogniser</title>
</head>
<body>
    <div>
        <h1><center>Assamese Number Recogniser</center></h1>
        
    </div>
    <div id="results-container">
        <h2><center>Our Algorithm found:</center></h2>
        <div id="results-col-wrapper">
            <img class="results-col" src={{image}}></img>
            <div class="results-col">
                <div id="objects-list">
                    <span><h2>Prediction:{{predictions}}</h2></span>
                    <span><h3>In English:{{eng}}</h3></span>
                    <span><h3>Probability:{{prob}}</h3></span>
                    <span><center>{{warn}}</center></span>
                    <span><center>{{warn2}}</center></span>            
                </div>
            </div>
        </div>
    </div>
</body>
</html>
